<h1>Listing projects</h1>

<table>
  <tr>
    <th>Title</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @projects.each do |project| %>
  <tr>
    <td><%= link_to project.title, project %></td>
    <td><%= pluralize(project.votes.length, "vote") %></td>
    <td><%= button_to '+1', votes_path(project_id: project.id), method: :post %></td>
    <td><%= link_to 'Delete', project, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>

</table>

<br />

<%= link_to 'New Project', new_project_path %>
